# Only install packages older than a week

min-release-age=7

# Format package-lock.json as a human readable file.

format-package-lock=true

# Hide message showing packages looking for funding

fund=false


